stepFunctions/SaveLayerFeatures.asl.json
{
  "Comment": "Save layer features into database",
  "StartAt": "Map",
  "States": {
    "Map": {
      "Type": "Map",
      "ItemsPath": "$.featureIds",
      "ResultPath": "$.featureIds",
      "MaxConcurrency": 100,
      "Parameters": {
        "userId.$":  "$.userId",
        "identityId.$":  "$.identityId",
        "zipfile.$":  "$.zipfile",
        "shpfileId.$":  "$.shpfileId",
        "featureId.$": "$$.Map.Item.Value"
      },
      "Iterator": {
        "StartAt": "Save Layer Feature",
        "States": {
          "Save Layer Feature": {
            "Type": "Task",
            "Resource": "arn:aws:lambda:us-east-1:122695763785:function:saveLayerFeature-dev",
            "End": true
          }
        }
      },
      "Next": "Processed"
    },
    "Processed": {
      "Type": "Pass",
      "Next": "Final"
    },
    "Final": {
      "Type": "Pass",
      "End": true
    }
  }
}
